\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.031^{+0.066}_{-0.064}   $\\

{\boldmath$r              $} & $0.0002^{+0.0037}_{-0.0035}$\\

{\boldmath$\beta_d        $} & $1.54^{+0.14}_{-0.14}      $\\

{\boldmath$\epsilon       $} & $0.199^{+0.050}_{-0.050}   $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.202^{+0.069}_{-0.069}  $\\

{\boldmath$A^{BB}_d       $} & $21^{+5}_{-5}              $\\

{\boldmath$\beta_s        $} & $-3.09^{+0.15}_{-0.13}     $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.22}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $5.0^{+1.2}_{-1.2}         $\\

{\boldmath$G_1            $} & $0.985^{+0.093}_{-0.085}   $\\

{\boldmath$G_2            $} & $1.021^{+0.077}_{-0.074}   $\\

{\boldmath$G_3            $} & $1.005^{+0.091}_{-0.097}   $\\

{\boldmath$G_4            $} & $1.009^{+0.076}_{-0.073}   $\\

{\boldmath$G_5            $} & $0.974^{+0.073}_{-0.071}   $\\

{\boldmath$G_6            $} & $1.001^{+0.095}_{-0.088}   $\\
\hline
\end{tabular}