\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.001^{+0.066}_{-0.064}   $\\

{\boldmath$r              $} & $0.0002^{+0.0037}_{-0.0034}$\\

{\boldmath$\beta_d        $} & $1.55^{+0.23}_{-0.22}      $\\

{\boldmath$\epsilon       $} & $0.200^{+0.050}_{-0.050}   $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.202^{+0.069}_{-0.069}  $\\

{\boldmath$A^{BB}_d       $} & $21^{+8}_{-7}              $\\

{\boldmath$\beta_s        $} & $-3.17^{+0.36}_{-0.38}     $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.23}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $6.5^{+4.7}_{-4.1}         $\\

{\boldmath$G_1            $} & $0.994^{+0.099}_{-0.092}   $\\

{\boldmath$\Delta\nu_1    $} & $0.023^{+0.078}_{-0.12}    $\\

{\boldmath$G_2            $} & $1.001^{+0.094}_{-0.095}   $\\

{\boldmath$\Delta\nu_2    $} & $0.017^{+0.075}_{-0.084}   $\\

{\boldmath$G_3            $} & $1.002^{+0.092}_{-0.095}   $\\

{\boldmath$\Delta\nu_3    $} & $0.003^{+0.088}_{-0.090}   $\\

{\boldmath$G_4            $} & $0.9997^{+0.090}_{-0.089}  $\\

{\boldmath$\Delta\nu_4    $} & $-0.001^{+0.090}_{-0.090}  $\\

{\boldmath$G_5            $} & $0.995^{+0.092}_{-0.091}   $\\

{\boldmath$\Delta\nu_5    $} & $0.000^{+0.092}_{-0.091}   $\\

{\boldmath$G_6            $} & $0.999^{+0.095}_{-0.093}   $\\

{\boldmath$\Delta\nu_6    $} & $-0.005^{+0.094}_{-0.090}  $\\
\hline
\end{tabular}