\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.000^{+0.065}_{-0.063}   $\\

{\boldmath$r              $} & $0.0002^{+0.0037}_{-0.0034}$\\

{\boldmath$\beta_d        $} & $1.532^{+0.063}_{-0.064}   $\\

{\boldmath$\epsilon       $} & $0.200^{+0.049}_{-0.050}   $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.202^{+0.069}_{-0.069}  $\\

{\boldmath$A^{BB}_d       $} & $21^{+3}_{-2}              $\\

{\boldmath$\beta_s        $} & $-3.104^{+0.081}_{-0.082}  $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.22}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $5.15^{+0.73}_{-0.66}      $\\

{\boldmath$G_1            $} & $0.989^{+0.038}_{-0.038}   $\\

{\boldmath$G_2            $} & $0.990^{+0.036}_{-0.036}   $\\

{\boldmath$G_3            $} & $0.991^{+0.038}_{-0.039}   $\\

{\boldmath$G_4            $} & $0.990^{+0.033}_{-0.033}   $\\

{\boldmath$G_5            $} & $0.989^{+0.033}_{-0.032}   $\\

{\boldmath$G_6            $} & $0.989^{+0.039}_{-0.038}   $\\
\hline
\end{tabular}