\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.002^{+0.059}_{-0.058}   $\\

{\boldmath$r              $} & $-0.00001^{+0.00020}_{-0.00018}$\\

{\boldmath$\beta_d        $} & $1.52^{+0.36}_{-0.34}      $\\

{\boldmath$\epsilon       $} & $0.202^{+0.034}_{-0.034}   $\\

{\boldmath$\alpha^{EE}_d  $} & $-0.401^{+0.069}_{-0.070}  $\\

{\boldmath$A^{EE}_d       $} & $47^{+40}_{-30}            $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.201^{+0.070}_{-0.071}  $\\

{\boldmath$A^{BB}_d       $} & $24^{+20}_{-20}            $\\

{\boldmath$\beta_s        $} & $-3.21^{+0.34}_{-0.37}     $\\

{\boldmath$\alpha^{EE}_s  $} & $-0.81^{+0.20}_{-0.21}     $\\

{\boldmath$A^{EE}_s       $} & $17^{+20}_{-14}            $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.23}_{-0.24}     $\\

{\boldmath$A^{BB}_s       $} & $8.7^{+10}_{-6.8}          $\\

{\boldmath$G_1            $} & $0.88^{+0.50}_{-0.37}      $\\

{\boldmath$G_2            $} & $0.90^{+0.45}_{-0.35}      $\\

{\boldmath$G_3            $} & $0.97^{+0.41}_{-0.35}      $\\

{\boldmath$G_4            $} & $0.98^{+0.35}_{-0.31}      $\\

{\boldmath$G_5            $} & $0.98^{+0.37}_{-0.32}      $\\

{\boldmath$G_6            $} & $0.99^{+0.42}_{-0.34}      $\\
\hline
\end{tabular}