\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.001^{+0.066}_{-0.063}   $\\

{\boldmath$r              $} & $0.0002^{+0.0037}_{-0.0035}$\\

{\boldmath$\beta_d        $} & $1.54^{+0.16}_{-0.14}      $\\

{\boldmath$\epsilon       $} & $0.200^{+0.049}_{-0.050}   $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.202^{+0.069}_{-0.070}  $\\

{\boldmath$A^{BB}_d       $} & $21^{+6}_{-5}              $\\

{\boldmath$\beta_s        $} & $-3.16^{+0.31}_{-0.35}     $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.22}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $6.3^{+3.7}_{-3.8}         $\\

{\boldmath$\Delta\nu_1    $} & $0.024^{+0.077}_{-0.10}    $\\

{\boldmath$\Delta\nu_2    $} & $0.017^{+0.069}_{-0.084}   $\\

{\boldmath$\Delta\nu_3    $} & $0.006^{+0.087}_{-0.087}   $\\

{\boldmath$\Delta\nu_4    $} & $0.002^{+0.076}_{-0.077}   $\\

{\boldmath$\Delta\nu_5    $} & $-0.001^{+0.082}_{-0.080}  $\\

{\boldmath$\Delta\nu_6    $} & $-0.002^{+0.098}_{-0.095}  $\\
\hline
\end{tabular}