\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.000^{+0.065}_{-0.063}   $\\

{\boldmath$r              $} & $0.0002^{+0.0037}_{-0.0034}$\\

{\boldmath$\beta_d        $} & $1.530^{+0.015}_{-0.015}   $\\

{\boldmath$\epsilon       $} & $0.200^{+0.032}_{-0.033}   $\\

{\boldmath$\alpha^{EE}_d  $} & $-0.402^{+0.068}_{-0.069}  $\\

{\boldmath$A^{EE}_d       $} & $40.1^{+2.7}_{-2.5}        $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.203^{+0.069}_{-0.069}  $\\

{\boldmath$A^{BB}_d       $} & $20.1^{+1.3}_{-1.3}        $\\

{\boldmath$\alpha^{EB}_d  $} & $-0.30^{+0.51}_{-0.48}     $\\

{\boldmath$A^{EB}_d       $} & $2.8^{+1.2}_{-1.2}         $\\

{\boldmath$\beta_s        $} & $-3.101^{+0.041}_{-0.042}  $\\

{\boldmath$\alpha^{EE}_s  $} & $-0.81^{+0.20}_{-0.21}     $\\

{\boldmath$A^{EE}_s       $} & $10.05^{+0.86}_{-0.80}     $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.61^{+0.22}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $5.03^{+0.48}_{-0.45}      $\\

{\boldmath$\alpha^{EB}_s  $} & $-0.7^{+1.5}_{-1.4}        $\\

{\boldmath$A^{EB}_s       $} & $0.63^{+0.44}_{-0.43}      $\\
\hline
\end{tabular}