\begin{tabular} { l  c}

 Parameter &  95\% limits\\
\hline
{\boldmath$A_{lens}       $} & $1.001^{+0.067}_{-0.065}   $\\

{\boldmath$r              $} & $0.0002^{+0.0038}_{-0.0034}$\\

{\boldmath$\beta_d        $} & $1.64^{+0.37}_{-0.37}      $\\

{\boldmath$\epsilon       $} & $0.200^{+0.035}_{-0.036}   $\\

{\boldmath$\alpha^{EE}_d  $} & $-0.403^{+0.069}_{-0.072}  $\\

{\boldmath$A^{EE}_d       $} & $51^{+40}_{-30}            $\\

{\boldmath$\alpha^{BB}_d  $} & $-0.201^{+0.067}_{-0.068}  $\\

{\boldmath$A^{BB}_d       $} & $25^{+20}_{-10}            $\\

{\boldmath$\beta_s        $} & $-3.26^{+0.45}_{-0.47}     $\\

{\boldmath$\alpha^{EE}_s  $} & $-0.81^{+0.21}_{-0.22}     $\\

{\boldmath$A^{EE}_s       $} & $20^{+20}_{-16}            $\\

{\boldmath$\alpha^{BB}_s  $} & $-0.60^{+0.23}_{-0.23}     $\\

{\boldmath$A^{BB}_s       $} & $9.8^{+9.9}_{-8.0}         $\\

{\boldmath$G_1            $} & $0.996^{+0.19}_{-0.18}     $\\

{\boldmath$\Delta\nu_1    $} & $0.07^{+0.13}_{-0.15}      $\\

{\boldmath$G_2            $} & $0.99^{+0.19}_{-0.18}      $\\

{\boldmath$\Delta\nu_2    $} & $0.06^{+0.13}_{-0.15}      $\\

{\boldmath$G_3            $} & $1.00^{+0.18}_{-0.18}      $\\

{\boldmath$\Delta\nu_3    $} & $0.03^{+0.15}_{-0.16}      $\\

{\boldmath$G_4            $} & $0.99^{+0.18}_{-0.18}      $\\

{\boldmath$\Delta\nu_4    $} & $0.01^{+0.15}_{-0.16}      $\\

{\boldmath$G_5            $} & $0.99^{+0.19}_{-0.18}      $\\

{\boldmath$\Delta\nu_5    $} & $-0.01^{+0.11}_{-0.11}     $\\

{\boldmath$G_6            $} & $1.01^{+0.18}_{-0.19}      $\\

{\boldmath$\Delta\nu_6    $} & $-0.015^{+0.084}_{-0.086}  $\\
\hline
\end{tabular}